API_HOST=0.0.0.0
API_PORT=8000

ONNX_MODEL_PATH=/app/models/model.onnx
PICKLE_MODEL_PATH=/app/models/model.pkl
METADATA_PATH=/app/models/metadata.json

MLFLOW_TRACKING_URI=http://localhost:5000

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

POSTGRES_USER=mlflow
POSTGRES_PASSWORD=
POSTGRES_DB=mlflow
